<!-- Modal -->
<div class="modal fade"
     id="modalRefuse"
     tabindex="-1"
     aria-labelledby="refuseModalLabel"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h6 class="modal-title"
                    id="refuseModalLabel">
                    {{ (i18n_prefix ~ '.link.refuse_modal')|trans }}
                </h6>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="fs-6 fw-lighter text-justify">{{ (i18n_prefix ~ '.modal.edit.cancel.confirm')|trans }}</p>
            </div>
            <div class="modal-footer">
                <button type="button"
                        class="btn btn-secondary"
                        data-bs-dismiss="modal">
                    {{ (i18n_prefix ~ '.modal.edit.back')|trans }}
                </button>
                <form class="m-0"
                    action="{{ path('app_user_service_request_transition', {id: service_request.id, transition: 'refuse'}) }}"
                    method="post">
                    <input type="hidden" name="token" value="{{ csrf_token }}"/>
                    <button type="submit"
                        class="btn btn-danger">
                        {{ (i18n_prefix ~ '.link.refuse')|trans }}
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>

