{% if type == "secondary" %}
    <span class="badge d-inline-flex align-items-center rounded-pill text-bg-secondary">
        <i class="bi bi-hourglass-split me-1 fs-6"></i>
        {{ name }}
    </span>
{% elseif type == "primary" %}
    <span class="badge d-inline-flex align-items-center rounded-pill text-bg-primary">
        <i class="bi bi-check-lg me-1 fs-6"></i>
        {{ name }}
    </span>
{% elseif type == "danger" %}
    <span class="badge d-inline-flex align-items-center rounded-pill text-bg-danger">
        <i class="bi bi-x-lg me-1 fs-6"></i>
        {{ name }}
    </span>
{% elseif type == "success" %}
    <span class="badge d-inline-flex align-items-center rounded-pill text-bg-success">
        <i class="bi bi-check2-all me-1 fs-6"></i>
        {{ name }}
    </span>
{% elseif type == "warning" %}
    <span class="badge d-inline-flex align-items-center rounded-pill text-bg-warning">
        <i class="bi bi-info-circle fa-xl me-1 fs-6"></i>
        {{ name }}
    </span>
{% elseif type == "invited member" %}
    <span class="badge d-inline-flex align-items-center rounded-pill text-primary text-bg-primary bg-opacity-25">
        <i class="bi bi-hourglass-split me-1 fs-6"></i>
        {{ name }}
    </span>
{% elseif type.isPublic %}

{% endif %}
